body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    border: solid 2pt rgb(8, 163, 21);
    width: 180pt;
    height: 270pt;
    padding: 16pt 8pt 32pt 4pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.8pt;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input{
    display: none;
}

#upload{
    margin: 4pt;
}

#choose{
    margin: 4pt;
}


canvas{
    display: none;
}